/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --bege: #F3EEEA;
   --verde-claro: #AFC8AD;
   --verde-escuro: #4F6F52;
   --cinza: #464646;

   --cor-de-link: ;

   --font-principal: 'Raleway', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--bege) ;
    font-family: var(--font-principal);
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li, h2, h3, h4 {
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

div.all {
    color: var(--cinza);
    box-sizing: border-box;
}

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-around;
    gap: 30%;
    padding: 32px 0px;
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}

/*Sessão Title*/

section.title{
     margin: 32px 152px;
}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.title__bio {
    margin-bottom: 24px;
    font-size: 3.25rem;
}

.title__subsection {
    font-size: 1.3rem;
    font-weight: normal;
}