/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --bege: #F3EEEA;
   --verde-claro: #AFC8AD;
   --verde-escuro: #4F6F52;
   --cinza: #464646;

   --cor-de-link: ;

   --font-principal: 'Raleway', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--bege) ;
    font-family: var(--font-principal);
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li, h2, h3, h4, p{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

div.all {
    color: var(--cinza);
    box-sizing: border-box;
}

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-around;
    gap: 30%;
    padding: 32px 0px;
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}

/*Sessão Title*/

section.title{
     margin: 32px 152px;
}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.title__container {
    margin-right: 50px;
}

.title__bio {
    margin-bottom: 24px;
    font-size: 3.25rem;
}

.title__subsection {
    font-size: 1.3rem;
    font-weight: normal;
}

/*Sessão About*/

section.about{
    background-color: var(--verde-claro);
    padding: 64px;
}

.about__container {
    width: 70%;
}

.about__title {
    font-size: 2rem;
}

.about__paragraph:nth-child(2) {
    padding: 16px 0;
}  

/* Sessão Skills */

section.skills {
    margin: 64px 152px;
}

.skills__title {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 32px;
}

.skills__line {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.skills__box {
    display: flex;
    align-items: flex-end;
    background-color: #ffffff;
    width: 176px;
    height: 174px;
    padding: 0px 0px 16px 16px;
}

.skills__name {
    padding-top: 8px;
    font-weight: bold;
}

/* Experiência Acadêmica*/

section.academic{
    background-color: var(--verde-claro);
    padding: 82px;
}

.academic__title {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 32px;
}

.academic__courses {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.academic__courses__item__img > img {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   
}

.academic__courses__item__title > h4 {
    margin: 8px 0px;
    font-size: 1.2rem;
}

/* experiência*/

section.experience{
    margin: 32px 152px;
}

.experience__section__title {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 32px;
}

.experiencie__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.experiencie__box:nth-child(3) {
    flex-direction: row-reverse;
}

.experience__info {
    gap: 100px;
}

.experience__title {
    font-size: 2rem;
}

.experience__text { 
    padding: 8px 0;
    font-size: 1.2rem;
    font-weight: normal;
}

.experience__description {
    display: flex;
    gap: 16px;
}

.experiencia__botao--repo {
    color: var(--verde-escuro);
    background-color: var(--bege);
    border: 1px solid var(--verde-escuro);
    font: var(--font-principal);
    width: 116px;
    height: 51px;
}

.experiencia__botao--demo {
    color: var(--bege);
    background-color: var(--verde-escuro);
    border: 1px solid var(--verde-escuro);
    font: var(--font-principal);
    width: 116px;
    height: 51px;
}

.title__network__item {
    display: flex;
    
}

/*Contato*/

section.formcontato{
    background-color: var(--verde-claro);
    padding: 64px 152px;
}

.formcontato__title {
    font-size: 2rem;
    padding-bottom: 8px;
}

.formcontato__subtext {
    font-size: 1.2rem;
    font-weight: normal;
}

.formcontato__subtext:nth-child(3) {
    padding-bottom: 32px;
}

.title__network {
    display: flex;
    gap: 50px; 
}

.title__network__item {
    display: flex;
    align-items: flex-end;
}

.title__network__item > img {
    padding-right: 5px;
}

/*footeer*/

section.footer{
   background-color: #ffffff;
   padding: 20px 0;
   text-align: center;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}